.container-fluid{
    background-color: darkgrey;
}

#header{
    background-color: black;
    color: azure;
    margin-bottom: 1%;
    margin-top: 1%;
    border-bottom-style: solid ;
    border-color: rgb(107, 107, 107);
}

#maingame{
    padding: 0%;
}

#imagem{
    width: 100%;
    height: 45%;
}

#textbox{
    background-color: black;
    margin-bottom: 1%;
    margin-top: 1%;
    border-top-style: solid ;
    border-color: rgb(107, 107, 107);
}

#textL{
    background-color: black;
    color: azure;
    margin-bottom: 2%;
    margin-top: 2%;
    font-family: 'Times New Roman', Times, serif;
    border-left: 3px;
}

#textR{
    background-color: black;
    color: azure;
    margin-bottom: 2%;
    margin-top: 2%;
    font-family: 'Times New Roman', Times, serif;
    border-right: 3px;
    border-top-style: solid;
    border-color:rgb(107, 107, 107);
}

@media (min-width: 767px) {
  img#imagem {
    width: 70%;
    height: 30%;
  }

  #textR{
    border-top-style: none;
    border-color:rgb(107, 107, 107);
  }
}