html, body {
    overflow-x:hidden;
}

em {
    font-size: 5ex;
    font-weight: bolder;

}

.container-fluid {
    background-color: darkgrey;
}

#warning {
    display: none;
}

#header {
    background-color: black;
    color: azure;
    margin-bottom: 1%;
    border-bottom-style: solid ;
    border-color: rgb(107, 107, 107);
}

#maingame {
    padding: 0%;
}

#Start {
    width: 100%;
    height: auto;
    max-width: 100%;
    position: absolute;
    top:0%
}

#imagem1 {
    width: 100%;
    height: auto;
    max-width: 100%;
}

#imagem2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    position: absolute;
    display: block;
    top: 0%;
}

#imagem3 {
    width: 100%;
    height: auto;
    max-width: 100%;
    position: absolute;
    display: block;
    top: 0%;
}
#seta {
    left: 55%;
    top: 35%;
}

#clickarea1 {
    display: none;
    top: 57%; 
    left: 20%; 
    width: 14%; 
    height: 10%;
    cursor: pointer;
}

#clickarea2 {
    display: none;
    top: 57%; 
    left: 43%; 
    width: 14%; 
    height: 10%;
    cursor: pointer;
}

#clickarea3 {
    display: none;
    top: 57%; 
    left: 66.5%; 
    width: 14%; 
    height: 10%;
    cursor: pointer;
}

#mic {
    left: 0%;
    top: 0%;
    width: 100%; 
    height: 100%;
}

#speechMobile {
    background-color: rgb(44, 44, 44);
    color: white;
    margin-top: 1%;
    padding-top: 2%;
}

#status {
    background-color: black;
    margin-bottom: 1%;
    margin-top: 1%;
    border-top-style: double ;
    border-color: rgb(107, 107, 107);
}

#textL {
    background-color: rgb(44, 44, 44);
    color: azure;
    display: none;
    font-family:Arial, Helvetica, sans-serif;
    border-left: 3px;
    padding-top: 2%;
}

#textR {
    background-color: rgb(44, 44, 44);
    color: azure;
    font-family:Arial, Helvetica, sans-serif;
    border-right: 3px;
    border-top-style: solid;
    border-color:rgb(107, 107, 107);
    padding-top: 2%;
}

.title-pc {
    display: none;
}

.img-fluid {
    width: 50px;
    height: 50px;
}

@media (min-width: 767px) {
    #Start{
        width: 90%;
        height: auto;
        max-width: 100%;
    }

    #imagem1 {
        width: 90%;
        height: auto;
        max-width: 100%;
    }

    #imagem2 {
        width: 80%;
        height: auto;
        max-width: 100%;
        position: absolute;
        display: block;
        top: 0%;
        left: 10%;
    }

    #imagem3 {
        width: 100%;
        height: auto;
        max-width: 90%;
        position: absolute;
        display: block;
        top: 0%;
        left: 5%;
    }
    #seta {
        left: 60%;
        top: 40%;
    }

    #clickarea1 {
        display: block;
        top: 57%; 
        left: 20%; 
        width: 14%; 
        height: 10%;
    }

    #clickarea2 {
        display: block;
        top: 57%; 
        left: 43%; 
        width: 14%; 
        height: 10%;
    }

    #clickarea3 {
        display: block;
        top: 57%; 
        left: 66.5%; 
        width: 14%; 
        height: 10%;
    }

    #mic {
        left: 83%;
        top: 35%;
        width: 6%; 
        height: 40%;
    }

    #textR {
        border-top-style: none;
        border-color:rgb(0, 0, 0);
        border-bottom-style: solid;
        border-right-style: solid;
        border-width: 1%;
    }

    #textL {
        display: inline;
        border-color:rgb(0, 0, 0);
        border-bottom-style: solid;
        border-right-style: solid;
        border-width: 1%;
    }

    #buttons {
        display: none;
    }

    #speechMobile {
        display: none;
    }
}

@media (min-width: 992px) {
    .title-pc {
        display: inline;
    }
    #seta {
        left: 65%;
        top: 40%;
    }
}

@media screen and (orientation: landscape) and (max-width: 767px){
    #warning {
        display: block;
    }
}