html, body {
  overflow-x:hidden;
}

.container-fluid{
    background-color: darkgrey;
}

#warning{
  display: none;
}
#header{
    background-color: black;
    color: azure;
    margin-bottom: 1%;
    border-bottom-style: solid ;
    border-color: rgb(107, 107, 107);
}

#maingame{
    padding: 0%;
}



#imagem1{
    width: 100%;
    height: auto;
    max-width: 100%;
}

#imagem2{
    width: 100%;
    height: auto;
    max-width: 100%;
    position: absolute;
    display: block;
    top: 0%;
}
#imagem3{
    width: 100%;
    height: auto;
    max-width: 100%;
    position: absolute;
    display: block;
    top: 0%;
}

#clickarea1{
  display: block;
  top: 57%; 
  left: 20%; 
  width: 14%; 
  height: 10%;
}

#clickarea2{
  display: block;
  top: 57%; 
  left: 43%; 
  width: 14%; 
  height: 10%;
}

#clickarea3{
  display: block;
  top: 57%; 
  left: 66.5%; 
  width: 14%; 
  height: 10%;
}

#speechMobile{
    background-color: black;
    color: white;
    margin-top: 1%;
}
#status{
    background-color: black;
    margin-bottom: 1%;
    margin-top: 1%;
    border-top-style: double ;
    border-color: rgb(107, 107, 107);
}

#textL{
    background-color: black;
    color: azure;
    display: none;
    font-family: 'Times New Roman', Times, serif;
    border-left: 3px;
}

#textR{
    background-color: black;
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    border-right: 3px;
    border-top-style: solid;
    border-color:rgb(107, 107, 107);
}

.title-pc{
  display: none;
}

.img-fluid{
  width: 50px;
  height: 50px;
}

@media (min-width: 767px) {
  #imagem1 {
    width: 90%;
    height: auto;
    max-width: 100%;
  }
  #imagem2 {
    width: 80%;
    height: auto;
    max-width: 100%;
    position: absolute;
    display: block;
    top: 0%;
    left: 10%;
  }
  #imagem3 {
    width: 100%;
    height: auto;
    max-width: 90%;
    position: absolute;
    display: block;
    top: 0%;
    left: 5%;
  }

  #textR{
    border-top-style: none;
    border-color:rgb(107, 107, 107);
  }

  #textL{
    display: inline;
  }

  #buttons{
    display: none;
  }
  #speechMobile{
    display: none;
  }
}

@media (min-width: 992px) {
  .title-pc{
    display: inline;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px){
  #warning{
    display: block;
  }
}